{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
        <div class="form">
        <h2>Ajouter une catégorie</h2>
        {{ form_start(form) }}
            {{ form_row(form.name, {'attr': {'class': 'form-control form'}}) }}

            <input type="submit" value='sauvegarder' class='btn btn-primary mt-4'
        {{ form_end(form)}}
        </div>
    </div>
{% endblock %}
