{% extends 'base.html.twig' %}

{% block title %}Modifier une sous-catégorie{% endblock %}

{% block body %}
<div class="container">
    <h1>Modifier une sous-catégorie</h1>

    {{ include('sub_category/_form.html.twig', { 
        'form': form, 
        button_label: 'Mettre à jour' 
    }) }}

    <a href="{{ path('app_sub_category_index') }}" class="btn btn-secondary">&larr; Retour à la liste</a>

    {{ include('sub_category/_delete_form.html.twig', { 'sub_category': sub_category }) }}
</div>
{% endblock %}
