{% extends 'base.html.twig' %}

{% block title %}Nouvelle sous-catégorie{% endblock %}

{% block body %}
<div class="container">
    <h1>Créer une nouvelle sous-catégorie</h1>

    {{ include('sub_category/_form.html.twig', { 'form': form }) }}

    <a href="{{ path('app_sub_category_index') }}" class="btn btn-secondary">&larr; Retour à la liste</a>
</div>
{% endblock %}
