{% extends 'base.html.twig' %}

{% block title %}Ajouter une ville {% endblock %}

{% block body %}
<div class='container'>
    <h1>Ajouter une nouvelle ville</h1>

    {{ include('city/_form.html.twig') }}

    <a href="{{ path('app_city_index') }}">Retourner à la liste de ville</a>
</div>
{% endblock %}
